@use "../../styles/variables" as vars;

.info-row {
  display: flex;
  justify-content: space-between;
  gap: 12px;
  font-size: 0.75rem;
  margin-bottom: 4px;
}

.info-label {
  color: vars.$color-text-subtle;
  font-weight: 500;
}

.info-value {
  color: vars.$color-text-emphasis;
  font-weight: 600;
  font-variant-numeric: tabular-nums;
}
