@use "../styles/variables" as vars;

.canvas-object-wrapper {
  position: absolute;
  overflow: visible;
  cursor: move;
  user-select: none;
  touch-action: none;
}

.canvas-object-wrapper.canvas-object-wrapper-dragging {
  cursor: grabbing;
}

.canvas-object {
  position: absolute;
  border: 1px solid vars.$black-12;
  border-radius: 4px;
  box-shadow: 0 2px 4px vars.$black-39;
  overflow: hidden;
  transition: transform 0.35s ease-in-out;
  transform-origin: 50% 50%;
}

.canvas-object.canvas-object-dragging {
  /* z-index set on wrapper from stackIndex */
}

.canvas-object.canvas-object-selected {
  outline: 2px solid var(--selection-color, vars.$color-primary);
  outline-offset: 2px;
}

.canvas-object.has-color {
  /* background set inline from obj.color */
}

.canvas-object.has-image {
  background: none;
  box-shadow: none;
  border: none;
  overflow: visible;
}

.canvas-object.has-image .canvas-object-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  filter: drop-shadow(0 2px 4px rgba(vars.$color-black, 0.7));
}
