.canvas {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  overflow: hidden;
  cursor: default;
  touch-action: none;
}

.canvas.canvas-grab {
  cursor: grab;
}

.canvas.canvas-grabbing {
  cursor: grabbing;
}

.canvas-bg {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background-image: url('/floorboards.jpg');
  background-repeat: repeat;
  background-position: 0 0;
  pointer-events: none;
  transition: background-size 0.25s ease-out, background-position 0.25s ease-out;
}

.canvas-viewport {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transform-origin: 0 0;
  transition: transform 0.25s ease-out;
}
