@use "../../styles/variables" as vars;

.bottom-control {
  width: vars.$history-button-size;
  height: vars.$history-button-size;
  border: none;
  border-radius: 50%;
  background: transparent;
  font-size: 1.1rem;
  color: vars.$color-text;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition:
    background vars.$duration-fast,
    transform 0.1s,
    opacity vars.$duration-fast;
}

.bottom-control:hover:not(:disabled) {
  background: vars.$black-06;
}

.bottom-control:active:not(:disabled) {
  transform: scale(0.92);
}

.bottom-control:disabled {
  opacity: 0.3;
  cursor: default;
}
