@use "../../styles/variables" as vars;

.history-controls.floating-controls {
  position: fixed;
  z-index: 10200;
}

.history-controls {
  bottom: 24px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 6px;
  padding: 4px;
  background: vars.$white-90;
  border-radius: 24px;
  box-shadow: 0 2px 8px vars.$black-20;
}
